altgraph==0.17.3
ffmpeg-python==0.2.0
future==0.18.3
greenlet==2.0.2
pyee==9.0.4
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
PySide6==6.5.0
PySide6-Addons==6.5.0
PySide6-Essentials==6.5.0
pysqlite3==0.5.0
python-vlc==3.0.18121
pytube==12.1.2
shiboken6==6.5.0
SQLAlchemy==2.0.7
typing_extensions==4.5.0
